# Archivos innecesarios en build
node_modules
dist
npm-debug.log
docker-compose.yml
.git
.gitignore
README.md

# Archivos locales o de entorno
.env.local
.env.development
.env.test
.vscode
.idea
.DS_Store

